* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	overflow: hidden;
}

#ctheader {
	height: 105px;
}

#ctmain.pods {
	overflow-y: hidden;
}

#slider {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}

.basicpopup {
	text-align: center;
}

.basicpopup textarea {
	width: 100%;
}

.embedded #ctmain {
	top: 0;
}

.embedded .basicpopup {
	max-height: 90%;
}

.vslide {
	height: 257px;
	width: calc(100% - 560px);
}