html, body {
	height: 100%;
	overflow: hidden;
}

#ctmain.pods {
	overflow-y: hidden;
}

#slider {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}

.embedded #ctmain {
	top: 0;
}

.embedded .basicpopup {
	max-height: 90%;
}

.vslide {
	height: 257px;
	width: calc(100% - 560px);
}

.ledger > div {
	padding: 5px;
	justify-content: space-between;
}

.ledger > div:nth-child(odd) {
	background: gray;
}